// _variables.scss

// Colores
$primary-color: #007bff;
$secondary-color: #343a40;
$bg-color: #f8f9fa;
$text-color: #272828;
$footer-bg: #767676;

// Tipografía
$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Jost', sans-serif;

// Tamaños
$font-size-base: 1rem;
$font-size-lg: 1.25rem;
$font-size-xl: 2rem;

// Bordes
$border-radius: 8px;

// Sombra
$box-shadow-light: 0px 4px 12px rgba(0, 0, 0, 0.15);
$box-shadow-dark: 0px 4px 12px rgba(0, 0, 0, 0.3);
